@media screen and (max-width: 1590px) {

}
@media screen and (max-width: 1500px) {
  
}
@media screen and (max-width: 1450px) {
  
}
@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 1320px) {
  header.header-menu .content {
    padding: 53px 40px 34px 40px;
  }
  footer .content {
    padding: 35px 40px 35px 40px;
  }
  .header_calls {
    margin-right: 20px;
  }
  .footer_right > * {
    margin: 0 10px;
  }
 
}
@media screen and (max-width: 1199px) {
 
}
@media screen and (max-width: 1165px) { 
  
}
@media screen and (max-width: 1001px) {
  
}
@media screen and (max-width: 959px) {
 
}
@media screen and (max-width: 880px) {

}
@media screen and (max-width: 811px) {

}
@media screen and (max-width: 754px) {

}
@media screen and (max-width: 700px) {

}
@media screen and (max-width: 666px) {

}
@media screen and (max-width: 646px) {

}

@media screen and (max-width: 640px) {
  .footer_right {
    display: none;
  }
  header.header-menu .content {
    padding: 24px 15px 0 15px;
  }
  .btn-request {
    padding: 11px 20px;
  }
  .header_calls {
    display: none;
  }
  header.header-menu .content .left-side .logo a img {
    max-width: 84px;
    margin-top: 5px;
  }
  section.first-screen .block h4 {
    margin: 11px 0 0;
  }
  section.first-screen .block .btn-group .btn-simple {
    margin: 30px 0px 0 0;
    width: 224px;
  }
  .headline_p2 {
    font-size: 18px;
  }
  .uk-offcanvas-flip .uk-offcanvas-bar {
    right: -100%;
    width: 100%;
  }
  .uk-offcanvas-flip.uk-offcanvas-container-animation {
    left: -100%;
  }



  .padding_bottom {
    padding-bottom: 40px;
}
  .uk-button {
    font-size:12px;
  }
  .card_time {
    font-size: 10px;
  }
  .uk-badge {
    font-size: 11px;
    padding: 13px 23px;
  }
  .uk-card-title {
    font-size: 18px;
    margin: 5px 0 15px;
  }
  .block_margin_small {
    margin-top: 40px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
  .tab_nav .uk-tab {
    margin-bottom: 30px;
  }
  .uk-tab {
    padding: 0 15px;
  }
  .tab_nav .uk-tab > * {
    padding-left: 20px;
  }
  .uk-tab > * > a {
    font-size: 11px;
  }
  .headline_p1 {
    font-size: 32px;
  }

  .header_top_grid_l {
    border: none;
  }
  .arrow_small {
    width: 35px;
    height: 35px;
  }
  .arrow_small svg {
    width: 5px;
    height: 9px;
}
  .main_page_service_item {
    padding: 0 15px;
    height: 135px;
  }
  .header_top_links_5 svg path {
    transform: translate(-2px, -2px);
  }
  .header_top_links_5 svg circle {
    cx: 20;
    cy: 20;
    r: 20;
  }
  .header_top_links_5 svg {
    width: 40px;
    height: 40px;
  }
  .header_top_links a {
    width: 29px;
    height: 29px;
  }
  .uk-logo {
    width: 100px;
  }
  .form_politic {
    margin: 10px 0 30px;
  }
  .uk-modal-dialog > .uk-grid > div {
    margin-top: 20px!important;
  }
  .uk-modal-dialog > .uk-grid > div:first-child {
    margin-top: 0!important;
  }
}
@media screen and (max-width: 570px) {

}
@media screen and (max-width: 512px) {

}
@media screen and (max-width: 484px) {
}
@media screen and (max-width: 440px) {

}
@media screen and (max-width: 400px) {

}
@media screen and (max-width: 380px) {

}
@media screen and (max-width: 360px) {
  .uk-logo {
   width: 43px;
  } 
}